<div class="dialog-bg" style=@_displayChangeStyle>
    <div class="dialog-container">
        <div class="dialog-header">
            <div>
                <img class="logo-img" src="img/logo.svg" />
                <span>Happy</span>
            </div>

            <button class="dialog-close-btn" @onclick=@Close>
                <img src="img/close.svg" />
            </button>
        </div>
        <div class="dialog-title">
            <div>@Title</div>
        </div>
        <div class="dialog-body">
            <div class="dialog-msg">
                @Message
            </div>
            <button class="dialog-ok-btn" @onclick=@Close>OK</button>
        </div>
    </div>
</div>