.dialog-bg {
    z-index: 1000;
    background-color: #2E2E2EEE;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog-close-btn {
    background-color: transparent;
    outline: none;
    border: none;
}

.dialog-container {
    padding: .5rem;
    width: 85%;
    max-width: 300px;
    background-color: var(--app-black);
    box-shadow: #000 4px 4px 8px;
    border-radius: 20px;
}

.dialog-header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}

    .dialog-header > div {
        height: 90%;
    }

        .dialog-header > div > span {
            display: inline-block;
            margin: auto 0;
        }

.logo-img {
    object-fit: contain;
    height: 100%;
}

.dialog-title {
    padding: .5rem;
    font-size: 18px;
}

.dialog-body {
    padding-left: 1rem;
    font-size: 16px;
}

.dialog-msg {
    padding: .5rem 0;
}

.dialog-ok-btn {
    margin: 0;
    margin-left: auto;
    display: block;
    border-radius: 10px;
    padding: .3rem;
    background-color: var(--app-black);
    border: none;
    color: var(--app-white);
    box-shadow: #000 4px 4px 8px;
    width: 80px;
}
