@inject NavigationManager NavigationManager
@inherits PageBase
@page "/add"
<div class="add-page-wrapper">
    <div class="add-page-container">
        <div class="page-title">目標を決める</div>
        <div class="goal-period">
            <div>@GetDisplayTextFromDateTime(_periodStartDate) ~ @GetDisplayTextFromDateTime(_periodEndDate)</div>
        </div>
        <div class="goal-area">
            <ul class="goal-list">
                @foreach (GoalPointItem goalPointItem in _goalPointItems)
                {
                    <li class="goal-item">
                        <input class="goal-content" type="text" @bind=@goalPointItem.Content />
                        <input class="goal-point" type="number" @bind=@goalPointItem.Point />
                    </li>
                }
            </ul>
            <Neumorphism BorderRadius="20px">
                <button @onclick=@AddRowButtonOnClick>入力欄を増やす(6個まで)</button>
            </Neumorphism>
        </div>
        <div class="btn-area">
            <Neumorphism BorderRadius="20px">
                <button>登録</button>
            </Neumorphism>
            <Neumorphism BorderRadius="20px">
                <button class="btn-cancel" @onclick=@CancelButtonOnClick>キャンセル</button>
            </Neumorphism>
        </div>
    </div>
</div>