@page "/home"
@inject IHttpClientService HttpClientService
@inject ILoginService LoginService
@inject NavigationManager NavigationManager
@inherits PageBase
@attribute [Authorize]

<PageTitle>Happy - home</PageTitle>
<div class="content">
    <Neumorphism BorderRadius="50%" class="neu-circle">
        <div class="main-circle">
            <div class="main-content">
                <div>ポイント</div>
                @if (_userPoint == null)
                {
                    <div>-</div>
                }
                else
                {
                    <div>@_userPoint.TotalPoint.DisplayText</div>
                }
            </div>
            <div class="sub-content">
                <div>昨日獲得したポイント</div>
                @if (_userPoint == null)
                {
                    <div>-</div>
                }
                else
                {
                    <div>@_userPoint.YesterdayPoint.DisplayText</div>
                }
            </div>
        </div>
    </Neumorphism>
    <div class="goal-area">
        <div class="date-area">
            @DateTime.Now.ToString("yyyy年MM月dd日　dddd")
        </div>
        <ul class="goal-list">
            @foreach (GoalPointResponseDto goalPointResponseDto in _goalPointResponseDtos)
            {
                <GoalListItem GoalPointResponseDto="goalPointResponseDto" IsDone="goalPointResponseDto.IsDone"
                    OkButtonOnClicked="RefreshAsync" />
            }
        </ul>
    </div>
    <div class="edit">
        <div class="summary">
            <div>合計:6pt</div>
        </div>
        <Neumorphism class="neu" BorderRadius="50%">
            <button class="btn-edit" @onclick=@EditButtonOnClick>
                <img src="img/edit.svg" />
            </button>
        </Neumorphism>
    </div>
</div>