@page "/login"
@inject ILocalStorageService LocalStorageService
@inject NavigationManager NavigationManager
@inject ILogger<LoginPage> Logger
@inherits PageBase
<div class="login-wrapper">
    <div class="login-container">
        <AuthorizeView>
            <Authorized>
                <div>
                    <div>ようこそ!</div>
                    <div>@context.User.Identity?.Name</div>
                    <div class="loader"></div>
                </div>
            </Authorized>
            <NotAuthorized>
                <div>Welcome!</div>
                <div class="logo-img">
                    <img src="img/logo.svg" />
                </div>
                <div class="login-type">
                    <Neumorphism BorderRadius="20px">
                        <button @onclick=@GoogleLoginButtonOnClick>
                            <img src="img/google-icon.svg" />
                            <span>Sign in with Google</span>
                        </button>
                    </Neumorphism>
                    <div class="text-center">or</div>
                    <Neumorphism BorderRadius="20px">
                        <button>Registration request!</button>
                    </Neumorphism>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</div>