.page {
    position: relative;
    height: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: calc(100% - 80px) 80px;
    padding-bottom: env(safe-area-inset-bottom);
}

main {
    flex: 1;
}
