@inherits LayoutComponentBase
@inject IStateContainer StateContainer

<div class="page">
    <main>
        <article class="content">
            @Body
        </article>
    </main>
    <NavMenu />
</div>
<frontend.Components.Dialog @ref=DialogInstance Title="エラーが発生しました。" Message="@StateContainer.Message" />