<nav class="nav-wrapper">
    <NavLink class="nav-menu" href="" Match="NavLinkMatch.All">
        <img src="img/home.svg" />
    </NavLink>
    <NavLink class="nav-menu" href="calendar">
        <img src="img/calendar.svg" />
    </NavLink>
</nav>